# Kconfig - I2S (Inter-IC Sound) driver configuration options
#
# Copyright (c) 2017 Piotr Mienkowski
# SPDX-License-Identifier: Apache-2.0
#

#
# Regulators
#
menuconfig REGULATOR
	bool "Regulator drivers"
	help
	  Enable support for regulators.

if REGULATOR

config REGULATOR_GENERIC
	bool "Generic Regulator"
	default no
	help
	  Enable support for generic regulator.

config REGULATOR_ALWAYSON
	bool "Regulator Always Enabled"
	default no
	help
	  Force regulator to be on during driver load and remain on.

endif # REGULATOR
